<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Office Hub</title>

    <!-- Style CSS Link -->
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Style CSS Link -->


    <!-- Bootstrap CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Bootstrap CDN -->
    

    <!-- Font Awesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <!-- Font Awesome CDN -->


    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap" rel="stylesheet">
    <!-- Google Font -->

</head>
<body>



    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-sm">
        <div class="container-fluid">
          <a class="navbar-brand fs-2" href="#"><span>M</span>y Office Hub</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span><i class="fa-solid fa-bars"></i></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#features">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#services">Services</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#teams">Teams</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#reviews">Reviews</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
              </li>
            </ul>


            <!-- <form class="d-flex">
              <a href="/"><button class="btn btn-primary" type="button">Admin Login</button></a>
               <a href="/signup"><button class="btn btn-danger mx-3" type="button">Sign-Up</button></a> -->
            </form>
          </div>
        </div>
      </nav>
      
    <!-- Navbar End -->


    <!-- Home Section Start -->
    <section class="home" id="home">
        <div class="home-content">
            <h4>Explore added features for our office space.</h4>
            <h1>Embrace Infinite <span>Possibilities</span></h1>
            <p>Welcome to our college office hub, where students' needs meet efficient solutions.
              Need assistance? Our college office hub is here to help navigate your academic journey.
              </p>
            <a href="#services"><button>Explore Now</button></a>
        </div>

        <div class="img">
            <img src="./images/bg-img.png" alt="">
        </div>
    </section>
    <!-- Home Section End -->



    <!-- Features Section Start -->
    <section class="offers" id="features">

      <h3 class="fs-2">Our Key Features</h3>
      <div class="row">
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <i class="fa-solid fa-users"></i>
            <h5>PolyStudentia</h5>
            <p>Empowering Colleges with Secure PolyStudentia for Efficient Student Management.!</p>
          </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <i class="fa-solid fa-file-circle-check"></i>
            <h5>Tech Bonafide</h5>
            <p>Streamlined College Bonafide Generation for Swift, Accurate, and Policy-Compliant Certificates.!</p>
          </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <i class="fa-solid fa-folder-open"></i>
            <h5>PolyDocLink</h5>
            <p>Effortless College Document Management – Access, Download, User-Friendly Interface.!</p>
          </div>
        </div>
        <div class="col-md-3 py-3 py-md-0">
          <div class="card">
            <i class="fa-solid fa-bus"></i>
            <h5>PolyTransport</h5>
            <p>Streamlined Bus Management for Students - Payments, Information Retrieval, and PDF Receipts.!</p>
          </div>
        </div>
      </div>

    </section>
    <!-- Offer Section End -->



    <!-- About Section Start -->
    <section class="about" id="about">
      <div class="row">
        <div class="col-md-5 py-3 py-md-0">
          <div class="card">
            <img src="./images/about-img.png" alt="">
          </div>
        </div>

        <div class="col-md-7 py-3 py-md-0">
          <h5 class="fs-4">About us</h5>
          <h1>This Is How <b style="font-size: 2.625rem;">My Office Hub</b> Work!!!</h1>
          <p>We are a dedicated team behind the seamless integration of PolyStudentia, MyOfficeServer, TechBonafide, and PolyDocLink. Committed to enhancing your college experience, we strive to simplify student management, administrative tasks, bonafide generation, and document access. With PolyTransport, we extend our commitment to efficient bus management. Our user-friendly solutions aim to empower students, faculty, and staff, ensuring accuracy, compliance, and convenience in every interaction. Welcome to the future of college administration, tailored for you by our innovative team at [ My Office Hub ]."</p></p>

          <a href="/about_us" class="btn btn-primary about-btn">Read More...</a>
        </div>

      </div>
    </section>
    <!-- About Section End -->

    <!-- service section start -->

<!-- Service 2 - Bootstrap Brain Component -->
<section class="py-5 py-xl-8 bg-light" id="services">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6 text-center">
                <h2 class="mb-4 display-5">Our Services</h2>
                <p class="text-secondary mb-5">We offer a wide range of services to help tech companies of all sizes succeed. We specialize in market research, secure payments, and 24/7 support.</p>
                <hr class="w-25 mx-auto mb-5 border-dark-subtle">
            </div>
        </div>

        <!-- First Row -->
        <div class="row gy-5 gx-md-5 justify-content-center">
            <!-- Service 1 - PolyStudentia -->
            <div class="col-md-4 col-xl-4 overflow-hidden text-center border rounded p-4 service-box">
                <div class="row gy-4">
                    <div class="col-12">
                        <i class="fa-solid fa-users" style="font-size: 3rem;"></i>
                    </div>
                    <div class="col-12">
                        <h4 class="mb-3">Poly Studentia</h4>
                        <p class="mb-3 text-secondary">
                          Empower colleges with Secure PolyStudentia, a robust [ student management system ], for efficient student administration.</p>
                        <div>
                            <a href="/key" class="fw-bold text-decoration-none link-primary">
                                Learn More
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Service 2 - TechBonafide -->
            <div class="col-md-4 col-xl-4 overflow-hidden text-center border rounded p-4 service-box">
                <div class="row gy-4">
                    <div class="col-12">
                        <i class="fa-solid fa-file-circle-check" style="font-size: 3rem;"></i>
                    </div>
                    <div class="col-12">
                        <h4 class="mb-3">TechBonafide</h4>
                        <p class="mb-3 text-secondary">Streamlined College [ Bonafide Generation ] for Swift, Accurate, and Policy-Compliant Certificates.!</p>
                        <div>
                            <a href="/key1" class="fw-bold text-decoration-none link-primary">
                                Learn More
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Service 3 - Document Manager -->
            <div class="col-md-4 col-xl-4 overflow-hidden text-center border rounded p-4 service-box">
                <div class="row gy-4">
                    <div class="col-12">
                        <i class="fa-solid fa-folder-open" style="font-size: 3rem;"></i>
                    </div>
                    <div class="col-12">
                        <h4 class="mb-3">Document Manager</h4>
                        <p class="mb-3 text-secondary">Streamline college [ document management ] with easy access, download, and a user-friendly interface.</p>
                        <div>
                            <a href="/key2" class="fw-bold text-decoration-none link-primary">
                                Learn More
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

      <!-- Second Row -->
<div class="row gy-5 gx-md-5 justify-content-center">
    <!-- Service 4 - PolyTransport -->
    <div class="col-md-4 col-xl-4 overflow-hidden text-center border rounded p-4 service-box">
        <div class="row gy-4">
            <div class="col-12">
                <i class="fa-solid fa-bus" style="font-size: 3rem;"></i>
            </div>
            <div class="col-12">
                <h4 class="mb-3">PolyTransport</h4>
                <p class="mb-3 text-secondary">Streamlined [ PolyTransport Management ] for Students - Payments, Information Retrieval, and PDF Receipts.!</p>
                <div>
                    <a href="/log" class="fw-bold text-decoration-none link-primary">
                        Learn More
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Service 5 - Our College -->
    <div class="col-md-4 col-xl-4 overflow-hidden text-center border rounded p-4 service-box">
        <div class="row gy-4">
            <div class="col-12">
                <i class="fa-solid fa-building-columns" style="font-size: 3rem;"></i>
            </div>
            <div class="col-12">
                <h4 class="mb-3">Our College</h4>
                <p class="mb-3 text-secondary"><b>Vishweshwarayya Abhiyantriki Padvika Mahavidyalaya .!</b>
                  Approved AICTE New Delhi, Affiliated to MSBTE Mumbai.</p>
                <div>
                    <a href="https://vapmalmala.in/" class="fw-bold text-decoration-none link-primary">
                        Learn More
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Service 6 - 24/7 Support -->
    <div class="col-md-4 col-xl-4 overflow-hidden text-center border rounded p-4 service-box">
        <div class="row gy-4">
            <div class="col-12">
                <i class="fa-solid fa-bus" style="font-size: 3rem;"></i>
            </div>
            <div class="col-12">
                <h4 class="mb-3">24/7 Support</h4>
                <p class="mb-3 text-secondary">Offer 24/7 support to clients for assistance whenever they need it, day or night.</p>
                <div>
                    <a href="#!" class="fw-bold text-decoration-none link-primary">
                        Learn More
                        <i class="fas fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

    </div>
</section>

<style>
    .service-box {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: box-shadow 0.3s ease-in-out;
        margin-bottom: 20px; /* Adjust this value for spacing */
    }

    .service-box:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
</style>
<!-- Services section ends -->

<!-- meet our team section start -->
<!-- Meet Our Team Section -->
<style>
    .team-member-card {
        height: 200px; /* Set your desired height */
        width: 100%;   /* Set your desired width */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle box-shadow */
    }

    .team-member-icon {
        font-size: 4rem; /* Adjust the icon size */
    }
</style>

<!-- Meet Our Team Section -->
<section class="py-5 py-xl-8 bg-light" id="teams">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6 text-center">
                <h2 class="mb-4 display-5">Meet Our Team</h2>
                <p class="text-secondary mb-5">Get to know the talented individuals behind our success.</p>
                <hr class="w-25 mx-auto mb-5 border-dark-subtle">
            </div>
        </div>

        <div class="row gy-5 gx-md-5 justify-content-center">
            <!-- Team Member 1 -->
            <div class="col-md-6 col-lg-3 text-center">
                <div class="card border-0 team-member-card">
                    <div class="card-body">
                        <i class="fas fa-user team-member-icon mb-3"></i>
                        <h4 class="card-title mb-2">Vedant Patil</h4>
                        <p class="card-text text-secondary">Team Leader & Developer</p>
                    </div>
                </div>
            </div>

            <!-- Team Member 2 -->
            <div class="col-md-6 col-lg-3 text-center">
                <div class="card border-0 team-member-card">
                    <div class="card-body">
                        <i class="fas fa-user team-member-icon mb-3"></i>
                        <h4 class="card-title mb-2">Rushikesh Karlekar</h4>
                        <p class="card-text text-secondary">Developer</p>
                    </div>
                </div>
            </div>

            <!-- Team Member 3 -->
            <div class="col-md-6 col-lg-3 text-center">
                <div class="card border-0 team-member-card">
                    <div class="card-body">
                        <i class="fas fa-user team-member-icon mb-3"></i>
                        <h4 class="card-title mb-2">Chintalwad Vaibhav</h4>
                        <p class="card-text text-secondary">Developer</p>
                    </div>
                </div>
            </div>

            <!-- Team Member 4 -->
            <div class="col-md-6 col-lg-3 text-center">
                <div class="card border-0 team-member-card">
                    <div class="card-body">
                        <i class="fas fa-user team-member-icon mb-3"></i>
                        <h4 class="card-title mb-2">Kusumkar Deepak</h4>
                        <p class="card-text text-secondary">Lead Developer & Designer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- meet our team section ends here -->


    <!-- Review Section Start -->
    <section class="reviews" id="reviews">
      <h3>Reviews</h3>

      <div class="row">
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <div class="card-body-overlay">
              <img src="./images/Avatar Image.png" alt="">
              <div class="star">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <!-- <i class="fa-solid fa-star checked"></i> -->
              </div>

              <p>Efficiently manages college affairs with PolyStudentia and PolyTransport, promising solutions needing clearer navigation and user feedback for enhancement.</p>
              

            </div>
          </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <div class="card-body-overlay">
              <img src="./images/Avatar Image (1).png" alt="">
              <div class="star">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <!-- <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i> -->
              </div>

              <p>My Office Hub offers diverse services for college management, needing clearer navigation and user feedback for enhanced credibility.</p>
              

            </div>
          </div>
        </div>
        <div class="col-md-4 py-3 py-md-0">
          <div class="card">
            <div class="card-body-overlay">
              <img src="./images/Avatar Image (2).png" alt="">
              <div class="star">
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <i class="fa-solid fa-star checked"></i>
                <!-- <i class="fa-solid fa-star checked"></i> -->
              </div>

              <p>My Office Hub streamlines college management with PolyStudentia and PolyTransport, requiring clearer navigation and user feedback for credibility.</p>
              

            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- Review Section End -->



    <!-- Contact Section Start -->
    <section class="contact" id="contact">
      <div class="row">
        <div class="col-md-5 py-3 py-md-0">

          <h1>Get In Touch With</h1>
          <p>Vishweshwarayya Abhiyantriki Padvika Mahavidyalaya!</p>
          <h5>Adress: Dilip Nagar, Almala Tq. Ausa Dist. Latur - 413556 (M.S.)</h5>
          <h5>Email: vishpoly@gmail.com</h5>
          <h5>Phone: +9200000000000000</h5>

          <div class="social">
            <h3>Social</h3>
            <i class="fa-brands fa-twitter"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-linkedin"></i>
            <!-- <i class="fa-brands fa-pinterest"></i> -->
          </div>
        </div>

        <div class="col-md-7 py-3 py-md-0">
          <h2>Contact Us With</h2>
          <form id="contactForm" action="/contact" method="post">
        
            <div class="mb-3 mt-3">
              <input type="text" class="form-control" placeholder="Enter Name" name="name" id="name" required>
            </div>
            <div class="mb-3 mt-3">
              <input type="email" class="form-control" placeholder="Enter Email" name="email" id="email" required>
            </div>
            <div class="mb-3 mt-3">
              <input type="tel" class="form-control" placeholder="Phone Number" name="number" id="number" required>
            </div>
            <textarea class="form-control" rows="5" placeholder="Message" name="message" id="message" required></textarea>
            <button type="button" onclick="validateForm()">Send</button>
          </form>
        </div>
        <script>
          function validateForm() {
            // Get form inputs
            var name = document.getElementById("name").value;
            var email = document.getElementById("email").value;
            var number = document.getElementById("number").value;
            var message = document.getElementById("message").value;
        
            // Validate inputs
            if (name === "" || email === "" || number === "" || message === "") {
              alert("All fields are required.");
              return false;
            }
        
            // Validate email format
            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!emailRegex.test(email)) {
              alert("Please enter a valid email address.");
              return false;
            }
        
            // Validate phone number format
            var phoneRegex = /^\d{10}$/;
            if (!phoneRegex.test(number)) {
              alert("Please enter a valid 10-digit phone number.");
              return false;
            }
        
            // If all validations pass, display success message and reset form
            alert("Form submitted successfully!");
            document.getElementById("contactForm").reset();
          }
        </script>
        
      </div>
    </section>
    <!-- Contact Section End -->



    <!-- Footer Start -->
    <footer id="footer">

      <div class="row">
        <div class="col-md-6">
          <ul>
            <h3>About</h3>
            <p>Vishweshwarayya Abhiyantriki Padvika Mahavidyalaya, Almala Tq.Ausa Dist.Latur (M.S.) Institute has been established in 2008 to provide excellent educational service.
              In the last Ten years college has earned very good reputation in Marathwada as well as in Maharashtra State.</p>
            <div class="social">
              <h4><b>Our Published Papers : </b><a style="font-size: 1rem;" href="http://ijsart.com/Home/IssueDetail/83554">http://ijsart.com/Home/IssueDetail/83554</a> </h4>
              <h3>Social</h3>
              <a href="https://www.instagram.com/vapmalmala/?hl=en"><i class="fa-brands fa-twitter"></i></a>
              <a href="https://www.instagram.com/vapmalmala/?hl=en"><i class="fa-brands fa-instagram"></i></a>
              <a href="https://www.facebook.com/vishpoly"><i class="fa-brands fa-facebook"></i></a>
              <a href="https://www.instagram.com/prashantdharashive/?hl=en"><i class="fa-brands fa-linkedin"></i></a>
              <!-- <i class="fa-brands fa-pinterest"></i> -->
            </div>
          </ul>
        </div>
        <div class="col-md-3">
          <ul>
            <h3>Usefull Links</h3>
          
          <li><a href="#">Home</a></li>
          <li><a href="#features">Features</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul>
            <h3>Certificates</h3>
            <li><a href="/images/SirCertificate.pdf">Guide</a></li>
            <li><a href="/images/VaibhavCertificate.pdf">Chintalwad Vaibhav</a></li>
            <li><a href="/images/VedantCertificate.pdf">Patil Vedant</a></li>
            <li><a href="/images/DeepakCertificate.pdf">Kusumkar Deepak</a></li>
            <li><a href="/images/RushiCertificate.pdf">Karlekar Rushikesh</a></li>
          </ul>
        </div>

        <hr>
        <h5><a href="http://ijsart.com/Home/IssueDetail/83554">Copyright</a> &copy;2024 <b>My Office Hub</b> All Rights Reserved.!</h5>
      </div>

    </footer>
    <!-- Footer End -->



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script>
      document.addEventListener('keydown', function (e) {
        // Check if the user pressed Ctrl+U
        if (e.ctrlKey && e.key === 'u') {
          // Prevent the default action (viewing page source)
          e.preventDefault();
          alert('Source Code Nahi milega bhai!!.');
        }
      });
    </script>
    <script src="/javascripts/index.js"></script>


</body>
</html>