<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>PolyTransport</title>
  <link rel="icon" type="image/png" href="/images/logo-no-background.png">
  <style>
    body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

.container {
  width: 50%;
  margin: 100px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-top: 10px;
}

  </style>
</head>
<body>
  <div class="container">
    <h1>Enter Your Unique Code</h1>
    <input type="text" id="uniqueCode" placeholder="Enter your unique code!!" autocomplete="off">
    <button onclick="checkUniqueCode()">Submit</button>
    <p id="errorMessage" class="error"></p>
  </div>

  <script>
    function checkUniqueCode() {
  const uniqueCode = document.getElementById("uniqueCode").value;
  const providedCode = "admin"; // Replace with your actual unique code
  
  if (uniqueCode === providedCode) {
    // Redirect to a new webpage
    window.location.href = "/doc";
  } else {
    document.getElementById("errorMessage").textContent = "Invalid unique code. Please try again.";
  }
}

  </script>
</body>
</html>