/* @import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

.theme-text {
  color: #474af0;
}

.card-img-top {
  height: 200px;
  width: 100%;
}
.card {
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}
.card:hover {
  color: white;
}
.card::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0%;
  background: #474af0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
  z-index: -1;
}
.card:hover::before {
  left: 0%;
  color: white;
}
.container-fluid {
  background-image: url("blob-scene-haikei.svg");
  background-position: center;
  background-size: cover;
} */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*                                                      News Container Styles                                                   */

.news-container {
    border-top: 1.7px solid black;
    border-bottom: 1.7px solid black;
    position: absolute;
    top: 97px; /* Change this value to the desired distance from the top */
    left: 0;
    right: 0;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
    overflow: hidden; /* Prevent content from overflowing */
}

.news-container .title {
    position: absolute;
    background: #df2020;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 24px;
    color: white;
    font-weight: bold;
    z-index: 200;
}

.news-container ul {
    display: flex;
    list-style: none;
    margin: 0;
    animation: scroll 25s infinite linear;
}

.news-container ul li {
    white-space: nowrap;
    padding: 10px 24px;
    color: #494949;
    position: relative;
}

.news-container ul li::after {
    content:"";
    width: 1px;
    height: 100%;
    background: #b8b8b8;
    position: absolute;
    top: 0;
    right: 0;
}

.news-container ul li:last-child::after {
    display: none;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-1083px);

    }
}

/*                                                      Navigation Bar Styles                                                   */



.navbar {
    background-color: #333;
    padding: 0.625rem 0;
}

.container {
    max-width: 75rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.navbar img { 
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

.brand {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}
.brand:hover {
    color: #e74c3c; 
    text-decoration: underline;
  }

.menu {
    display: flex;
    align-items: center;
}

.dropbtn {
    background-color: transparent;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: fixed;
    top: 0;
    right: -12.5rem; 
    width: 12.5rem;
    height: 100vh;
    background-color: #333;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    overflow-x: hidden;
    transition: right 0.5s; 
    display: none; 
}

.dropdown-content.show {
    display: block;
    right: 0;
    transition: right 0.5s;
}
.close-btn {
    width: fit-content;
    display: block; 
    margin: 3rem; 
    padding: 0.75rem 1.5rem;
    background-color: #4caf50;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
}

.close-btn:hover {
    background-color: #3498db;
    color: #fff;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.dropdown-content a {
    color: white;
    padding: 1.5rem 2rem;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #555;
}

/*                                                      Welcome Section Styles                                                   */



#Welcome {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1.5rem; 
    margin-top: 44px;
}

.main-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1.25rem; 
}

.module {
    margin-right: 1.25rem; 
}

/*                                                       Main Content Styles                                                   */

.main {
    display: flex; /* Use flex container instead of grid */
    gap: 5rem; 
    margin: 1.25rem 8.125rem; 
}

.module,
.module2{
    background-color: #fff;
    padding: 1.25rem; 
    border: 0.063rem solid #ccc;
    border-radius: 0.3125rem; 
    box-shadow: 0rem 0rem 0.1rem black; 
    text-align: center;
    width: 48%; 
    flex-grow: 1; /* Allow the modules to grow and fill available space */
}

/*                                                       Module 1 Styles                                                   */


.module {
    height: 40rem; 
    width: 28.125rem; 
    border: 0.1rem solid gray; 
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #eae5d4;

}

/*                                                       Module 2 Styles                                                   */



.module2 {
    height: 40rem; 
    width: 28.125rem; 
    border: 0.1rem solid gray; 
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: #eae5d4;

}


#module1 img {
    max-width: 70%; 
    display: block;
    margin: auto; 
    transition: filter 0.3s ease-in-out, border 0.3s ease-in-out; 
    filter: grayscale(100%); 
    border: 0.125rem solid transparent; 
}

#module1 img:hover {
    filter: grayscale(0%); 
    border: 0.125rem solid #3498db; 
    transform: scale(1.05); 
}

#mod1info {
    font-size: 1rem; 
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* #mod1info:hover {
    color: #3498db; 
    text-decoration: underline; 
    transition: color 0.3s ease, text-decoration 0.3s ease; 
} */

#mod1but {
    display: inline-block;
    padding: 0.75rem 1.5rem; 
    background-color: #4caf50;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
}

#mod1but:hover {
    background-color: #3498db; 
    color: #fff; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

#module2 img {
    max-width: 70%; 
    display: block;
    margin: auto; 
    transition: filter 0.3s ease-in-out, border 0.3s ease-in-out; 
    filter: grayscale(100%); 
    border: 0.125rem solid transparent; 
}

#module2 img:hover {
    filter: grayscale(0%); 
    border: 0.125rem solid #3498db; 
    transform: scale(1.05); 
}

#mod2info {
    font-size: 1rem; 
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* #mod2info:hover {
    color: #3498db; 
    text-decoration: underline; 
    transition: color 0.3s ease, text-decoration 0.3s ease; 
} */

#mod2but {
    display: inline-block;
    padding: 0.75rem 1.5rem; 
    background-color: #4caf50;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: none;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
}

#mod2but:hover {
    background-color: #3498db; 
    color: #fff; 
    transition: background-color 0.3s ease, color 0.3s ease;
}


.footer {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 0.9rem; 
}
/*                                                        pop up 1                                              */
/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
  }
  
  .modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 1.25rem;
    border: 0.063rem solid #ddd;
    width: 18.75rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .modal-content h2 {
    color: #333;
  }
  
  .modal-content input {
    width: 80%;
    padding: 0.625rem;
    margin: 0.625rem 0;
    border: 0.063rem solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
  }
  
  .modal-content button {
    background-color: #4caf50;
    color: white;
    padding: 0.625rem 0.938rem;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
  }
  
  .modal-content button:hover {
    background-color: #2980b9;
  }
  
  .modal .close {
    padding-right: 40rem;
    position: relative;
    top: 0.625rem;
    right: 0.625rem;
    font-size: 1.25rem;
    color: black;
    cursor: pointer;
    z-index: 1000;
  }
  
  .modal .close:hover {
    color: #333;
  }
  
/*                                                        pop up 2                                              */
/* Pop-up 2 Styles */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.popup-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 1.25rem;
    border: 0.063rem solid #ddd;
    width: 18.75rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    text-align: center;
}

.popup-content h2 {
    color: #333;
}

.popup-content input {
    width: 80%;
    padding: 0.625rem;
    margin: 0.625rem 0;
    border: 0.063rem solid #ccc;
    border-radius: 0.25rem;
    box-sizing: border-box;
}

.popup-content button {
    background-color: #4caf50;
    color: white;
    padding: 0.625rem 0.938rem;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
}

.popup-content button:hover {
    background-color: #2980b9;
}

.popup .close {
    padding-right: 40rem;
    position: relative;
    top: 0.625rem;
    right: 0.625rem;
    font-size: 1.25rem;
    color: black;
    cursor: pointer;
    z-index: 1000;
}

.popup .close:hover {
    color: #333;
}


/* Media query for welcome section */
@media screen and (max-width: 767px) {
    #Welcome {
        font-size: 1.25rem; /* Adjust font size as needed for smaller screens */
    }

    .main-container {
        flex-direction: column; /* Stack modules vertically on smaller screens */
        margin-top: 1rem; /* Adjust top margin for stacking */
    }

    .module {
        margin-right: 0; /* Remove right margin for modules on smaller screens */
        margin-bottom: 1rem; /* Add bottom margin for modules on smaller screens */
    }
}
/* Media query for main content */
@media screen and (max-width: 767px) {
    .main {
        grid-template-columns: 1fr; /* Change to a single column layout for smaller screens */
        grid-template-rows: auto; /* Auto rows */
        gap: 2rem; /* Adjust gap for smaller screens */
        margin: 1rem; /* Adjust margin for smaller screens */
    }

    .module,
    .module2,
    .module3,
    .module4 {
        width: 100%; /* Occupy full width for smaller screens */
        margin-bottom: 1.5rem; /* Add some bottom margin between modules */
    }
}

/* Media query for moduless */
@media screen and (max-width: 767px) {
    .module,
    .module2,
    .module3,
    .module4 {
        height: auto; /* Adjust height for smaller screens */
        width: calc(100% - 2rem); /* Adjust width for smaller screens */
        margin: 1rem 0; /* Adjust margins for smaller screens */
    }

    /* Adjust other styles within media query if needed */
    /* For example: */
    #module1 img,
    #module2 img,
    #module3 img,
    #module4 img {
        max-width: 60%; /* Adjust image size for smaller screens */
    }

    #mod1info,
    #mod2info,
    #mod3info,
    #mod4info {
        font-size: 0.8rem; /* Adjust font size for smaller screens */
    }

    #mod1but,
    #mod2but,
    #mod3but,
    #mod4but {
        padding: 0.5rem 1rem; /* Adjust button padding for smaller screens */
        font-size: 0.8rem; /* Adjust button font size for smaller screens */
    }

    .footer {
        font-size: 0.8rem; /* Adjust footer font size for smaller screens */
    }
}


/* Media query for pop-up */
@media (max-width: 767px) {
    /* Common styles for all pop-ups */
    .modal,
    .popup,
    .popup-smaller {
        padding-top: 30px; /* Adjust padding-top for smaller screens */
    }

    .modal-content,
    .popup-content,
    .popup-smaller-content {
        margin: 5% auto; /* Adjust margin for smaller screens */
        width: 80%; /* Adjust width for smaller screens */
        max-width: none; /* Remove max-width for smaller screens */
        padding: 1rem; /* Adjust padding for smaller screens */
    }

    /* Unique styles for close buttons in pop-ups */
    .modal .close,
    .popup .close,
    .popup-smaller .close {
        top: 0.313rem; /* Adjust top position for close buttons in smaller screens */
        right: 0.313rem; /* Adjust right position for close buttons in smaller screens */
        font-size: 1rem; /* Adjust font-size for close buttons in smaller screens */
    }

    /* Additional adjustments or overrides for smaller screens can be added here */
}

@media screen and (max-width: 400px) {
    .news-container {
        position: absolute;
        top: 97px; /* Change this value to the desired distance from the top */
        left: 0;
        right: 0;
        font-family: "Roboto", sans-serif;
        box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
        overflow: hidden; /* Prevent content from overflowing */
    }
    
    .news-container .title {
        position: absolute;
        background: #df2020;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 24px;
        color: white;
        font-weight: bold;
        z-index: 200;
    }
    
    .news-container ul {
        display: flex;
        list-style: none;
        margin: 0;
        animation: scroll 25s infinite linear;
    }
    
    .news-container ul li {
        white-space: nowrap;
        padding: 10px 24px;
        color: #494949;
        position: relative;
    }
    
    .news-container ul li::after {
        content:"";
        width: 1px;
        height: 100%;
        background: #b8b8b8;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .news-container ul li:last-child::after {
        display: none;
    }
    
    @keyframes scroll {
        from {
            transform: translateX(100%);
        }
    
        to {
            transform: translateX(-1083px);
    
        }
    }
    
}

@media screen and (min-width: 401px) and (max-width: 720px) {
    .news-container {
        position: absolute;
        top: 97px; /* Change this value to the desired distance from the top */
        left: 0;
        right: 0;
        font-family: "Roboto", sans-serif;
        box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
        overflow: hidden; /* Prevent content from overflowing */
    }
    
    .news-container .title {
        position: absolute;
        background: #df2020;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 24px;
        color: white;
        font-weight: bold;
        z-index: 200;
    }
    
    .news-container ul {
        display: flex;
        list-style: none;
        margin: 0;
        animation: scroll 25s infinite linear;
    }
    
    .news-container ul li {
        white-space: nowrap;
        padding: 10px 24px;
        color: #494949;
        position: relative;
    }
    
    .news-container ul li::after {
        content:"";
        width: 1px;
        height: 100%;
        background: #b8b8b8;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .news-container ul li:last-child::after {
        display: none;
    }
    
    @keyframes scroll {
        from {
            transform: translateX(100%);
        }
    
        to {
            transform: translateX(-1083px);
    
        }
    }
    
}

@media screen and (min-width: 721px) and (max-width: 1280px) {
    .news-container {
        position: absolute;
        top: 97px; /* Change this value to the desired distance from the top */
        left: 0;
        right: 0;
        font-family: "Roboto", sans-serif;
        box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
        overflow: hidden; /* Prevent content from overflowing */
    }
    
    .news-container .title {
        position: absolute;
        background: #df2020;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 24px;
        color: white;
        font-weight: bold;
        z-index: 200;
    }
    
    .news-container ul {
        display: flex;
        list-style: none;
        margin: 0;
        animation: scroll 25s infinite linear;
    }
    
    .news-container ul li {
        white-space: nowrap;
        padding: 10px 24px;
        color: #494949;
        position: relative;
    }
    
    .news-container ul li::after {
        content:"";
        width: 1px;
        height: 100%;
        background: #b8b8b8;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .news-container ul li:last-child::after {
        display: none;
    }
    
    @keyframes scroll {
        from {
            transform: translateX(100%);
        }
    
        to {
            transform: translateX(-1083px);
    
        }
    }
    
}

@media screen and (min-width: 1281px) and (max-width: 1440px) {
    .news-container {
        position: absolute;
        top: 97px; /* Change this value to the desired distance from the top */
        left: 0;
        right: 0;
        font-family: "Roboto", sans-serif;
        box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
        overflow: hidden; /* Prevent content from overflowing */
    }
    
    .news-container .title {
        position: absolute;
        background: #df2020;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 24px;
        color: white;
        font-weight: bold;
        z-index: 200;
    }
    
    .news-container ul {
        display: flex;
        list-style: none;
        margin: 0;
        animation: scroll 25s infinite linear;
    }
    
    .news-container ul li {
        white-space: nowrap;
        padding: 10px 24px;
        color: #494949;
        position: relative;
    }
    
    .news-container ul li::after {
        content:"";
        width: 1px;
        height: 100%;
        background: #b8b8b8;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .news-container ul li:last-child::after {
        display: none;
    }
    
    @keyframes scroll {
        from {
            transform: translateX(100%);
        }
    
        to {
            transform: translateX(-1083px);
    
        }
    }
    
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
    .news-container {
        position: absolute;
        top: 97px; /* Change this value to the desired distance from the top */
        left: 0;
        right: 0;
        font-family: "Roboto", sans-serif;
        box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
        overflow: hidden; /* Prevent content from overflowing */
    }
    
    .news-container .title {
        position: absolute;
        background: #df2020;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 24px;
        color: white;
        font-weight: bold;
        z-index: 200;
    }
    
    .news-container ul {
        display: flex;
        list-style: none;
        margin: 0;
        animation: scroll 25s infinite linear;
    }
    
    .news-container ul li {
        white-space: nowrap;
        padding: 10px 24px;
        color: #494949;
        position: relative;
    }
    
    .news-container ul li::after {
        content:"";
        width: 1px;
        height: 100%;
        background: #b8b8b8;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .news-container ul li:last-child::after {
        display: none;
    }
    
    @keyframes scroll {
        from {
            transform: translateX(100%);
        }
    
        to {
            transform: translateX(-1083px);
    
        }
    }
    
}

@media screen and (min-width: 1921px) {
    .news-container {
        position: absolute;
        top: 97px; /* Change this value to the desired distance from the top */
        left: 0;
        right: 0;
        font-family: "Roboto", sans-serif;
        box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
        overflow: hidden; /* Prevent content from overflowing */
    }
    
    .news-container .title {
        position: absolute;
        background: #df2020;
        height: 100%;
        display: flex;
        align-items: center;
        padding: 0 24px;
        color: white;
        font-weight: bold;
        z-index: 200;
    }
    
    .news-container ul {
        display: flex;
        list-style: none;
        margin: 0;
        animation: scroll 25s infinite linear;
    }
    
    .news-container ul li {
        white-space: nowrap;
        padding: 10px 24px;
        color: #494949;
        position: relative;
    }
    
    .news-container ul li::after {
        content:"";
        width: 1px;
        height: 100%;
        background: #b8b8b8;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .news-container ul li:last-child::after {
        display: none;
    }
    
    @keyframes scroll {
        from {
            transform: translateX(100%);
        }
    
        to {
            transform: translateX(-1083px);
    
        }
    }
    
}